.dScroll::-webkit-scrollbar {
	background-color: #272c31
}

.dScroll::-webkit-scrollbar-thumb {
	background: #1c1f23; 
}

.dScroll::-webkit-scrollbar-thumb:hover {
	background: #eba576; 
}

.dDialog:hover {
	color: #eba576;
}

.lDialog:hover {
	color: #cc0000;
}

.lScroll::-webkit-scrollbar {
	background-color: #cccccc;
}

.lScroll::-webkit-scrollbar-thumb {
	background: #A8A8A8; 
}

.lScroll::-webkit-scrollbar-thumb:hover {
	background: #cc0000; 
}

.hint_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

.items::-webkit-scrollbar {
	width: 10px;
}
 
.items::-webkit-scrollbar-thumb {
	border-radius: 5px;
}

.navbar {
	position: relative;
	height: 25px;
	width: 100%;
	-webkit-app-region: drag;
	z-index: 100;
}

.items {
	padding-top: 25px;
	height: calc(100% - 125px);
  overflow-y: auto;
}

.menu {
	display: block;
	position: relative;
	height: 100px;
	width: 100%;
}

.btnOptions {
	display: inline-block;
	position: absolute;
	left: 30px;
	top: 50%;
	transform: translate(0, -50%);
	text-align: center;
	cursor: pointer;
}

.btnOptions svg, .btnDownload svg, .btnClear svg{
	display: block;
	margin: 0 auto;
}

.btnDownload {
	display: inline-block;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translate(0, -50%);
	text-align: center;
	cursor: pointer;
}

.btnClear {
	display: inline-block;
  position: absolute;
  bottom: 0;
  left: 50%;
	transform: translate(-50%, -75%);
	text-align: center;
	cursor: pointer;
	z-index: 101;
}

.btnTabs {
	display: inline-block;
  position: absolute;
  bottom: 0;
	left: 50%;
	transform: translate(-50%, 25%);
	text-align: center;
	z-index: 100;
	border-radius: 20px;
}

.appName {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.buttons {
	position: relative;
	display: inline-block;
	height: 100%;
	float: right;
	width: 100px;
	-webkit-app-region: no-drag;
}

.buttons div {
	position: relative;
	float: right;
	width: 33%;
	height: 100%;
}

.buttons div svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

.inputContainer {
	position: relative;
}

.openFileDialog {
	position: absolute;
	right: 0;
	top: 25px;
	transform: translate(0, -0%);
}

.openFileDialog:hover {
	cursor: pointer;
}

@-webkit-keyframes rotating {
	from {
		transform: translate(50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(50%, -50%) rotate(360deg);
	}
}