* { 
  box-sizing: border-box;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

@import url('https://fonts.googleapis.com/css?family=Iceland');

body, html {
  color: #fff;
  background-color: #0f242d;
  font-family: 'Iceland';
  padding: 0;
  margin: 0;
}